@model List<WebApplication3.Models.HizmetEkle>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- Tempus Dominus CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- DateTimePicker CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css">

<!-- DateTimePicker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/tr.js"></script>


@{
    ViewBag.Title = "RandevuVer";

}


<div style="margin: 50px 100px;">
    <form class="needs-validation" novalidate="" action="~/Home/RandevuVer" method="post" enctype="multipart/form-data">
        <div class="row g-3">

            <h2>Randevu Ver</h2>

            <div class="col-sm-5">
                <div class="form-group">
                    <label for="datetimePicker">Üye Seçimi</label>
                    @Html.DropDownList("UyeID", ViewBag.Uyeler as SelectList, new { @class = "form-control" })
                </div>
            </div>


            <div class="col-sm-4">
                <div class="form-group">
                    <label for="datetimePicker">Tarih ve Saat Seçimi</label>
                    <div class="input-group date" id="datetimePicker" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimePicker" name="RandevuBaslangicTarihi" />
                        <div class="input-group-append" data-target="#datetimePicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <label for="datetimePicker">Hizmet Süresi</label>
                <input type="text" class="form-control" name="RandevuHizmetSuresi" maxlength="3" placeholder="Örnek 120">
                <label for="datetimePicker">*Dakika Cisinden*</label>
            </div>

            <label>Hizmetler</label>
            @foreach (var hizmet in Model.Where(h => h.SysAktif == 1))
            {
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="custom-checkbox-group">
                            <label class="custom-checkbox">
                                <input type="checkbox" name="ChckBx" id="@hizmet.Id" value="@hizmet.Id">
                                <span class="checkmark"></span> @hizmet.HizmetAdi
                            </label>
                        </div>
                    </div>
                </div>
            }

            <input type="hidden" name="ChckBxSecimleri" id="ChckBxSecimleri" />

            <div class="col-12">
                <label for="NotAciklama" class="form-label">Not & Açıklama</label>
                <input style="height:100px;" type="text" class="form-control" maxlength="150" name="NotAciklama" placeholder="Not & Açıklama not giriniz...">
            </div>
            <button class="buttonsbmt" type="submit" onclick="submitForm()">Randevu Oluştur</button>
        </div>
    </form>
</div>




<script>
    $(document).ready(function () {
        $('#datetimePicker').datetimepicker({
            format: 'YYYY-MM-DD HH:mm',  // Tarih ve saat formatı
            locale: 'tr',  // Türkçe dilini kullan
            icons: {
                time: 'fa fa-clock',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-crosshairs',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        });
    });

    function submitForm() {
        var ChckBxSecimleri = [];
        var checkboxes = document.querySelectorAll('input[name="ChckBx"]:checked');

        checkboxes.forEach(function (checkbox) {
            ChckBxSecimleri.push(checkbox.value);
        });

        // Seçimleri gizli inputa atayın
        document.getElementById('ChckBxSecimleri').value = ChckBxSecimleri.join(',');

        // Formu gönderin
        document.forms[0].submit();
    }
</script>


<style>

    h2 {
        text-align: center;
        color: #333;
    }

    label {
        display: block;
        margin-bottom: 12px;
        cursor: pointer;
    }

    .custom-checkbox-group {
    }

        .custom-checkbox-group label {
            margin-bottom: 10px; /* Checkbox'lar arasındaki boşluğu ayarlayın */
            display: block; /* Her checkbox'ı yeni bir satıra yerleştirin */
        }

    input[type="checkbox"] {
        display: none; /* Orijinal checkbox'ı gizle */
    }

    .custom-checkbox {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
    }

        .custom-checkbox input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 4px;
    }

    .custom-checkbox:hover .checkmark {
        background-color: #ccc;
    }

    .custom-checkbox input:checked ~ .checkmark {
        background-color: #4CAF50;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .custom-checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    .custom-checkbox .checkmark:after {
        left: 7px;
        top: 3px;
        width: 6px;
        height: 12px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    .buttonsbmt {
        width: 400px;
        padding: 10px;
        margin-top: 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .buttonsbmt:hover {
            background-color: #45a049;
        }
</style>